{% extends '::prod_base.html.twig' %}

{% block body %}

    <div class="bodycell" style="width:400px; float:left">

        <h5 class='about'>Guidelines for Contributors:</h5>
        <p>We strive to publish articles that analyze appropriation as a process of collaboration with Shakespeare, and to that end seek work that either demonstrates something new both about Shakespeare and about the field of appropriation or that works with Shakespeare to extend theories of adaptation and appropriation. To that end, we send essays out to readers with expertise in both fields on inquiry (for example, to a Shakespearean and to a film scholar, or to a Shakespearean and a Joycean, or a Shakespearean and a specialist on Restoration Drama). At least one of our readers will be a Shakespearean.</p>
        <p>Articles generally run from 7000 to 9000 words, but we also occasionally publish "clusters" of shorter essays on a related theme. We send articles out for review as soon as we find a reader with expertise in the field who is willing to serve. Each essay will generally be sent to no more than two readers; if these readers disagree, the editors make the final decision. We strongly encourage authors who receive a report to “Revise and Resubmit” to do so, with the guidance of the editors.</p>
        <p>Our style "bible" is Richard Lanham's Revising Prose. We believe that, no matter how complex and nuanced an argument, writers can communicate their ideas clearly, concisely, and elegantly. We admire the mot juste. We encourage early-career researchers and writers, in particular, to pay attention to matters of style.</p>
        <p>We welcome proposals for future essay-clusters by groups of scholars. If you would like to propose an essay-cluster (two or more essays on a related theme) for a general or a special issue, please send manuscripts to the editors, preferably along with the name of another scholar to introduce the cluster. Essay-clusters are subject to the same peer-review process as articles considered singly.</p>
        <p>Address correspondence and submissions to the general editors at lenders[at]uga.edu or to Managing Editor Maria Chappell at machapp[at]uga.edu.</p>
        <p>Address books for review to the Book Review Editor Anna Forrester at anna.forrester25[at]uga.edu.</p>

        <h5 class='about'>Special Guidelines for Online Authorship and Publication</h5>
        <p><b>1. Multimedia:</b> B&L encourages contributors to use the online format to its best advantage by imagining how to enhance or illustrate their essays with multimedia (screen captures, sound clips, images, and so on). Indicate where in the essay such enhancements are to appear, by including "thumbnails" or brief descriptive captions.</p>
        <p><b>2. Sub-headings:</b> Such illustrations or enhancements also function as navigation devices for on-screen reading, as do sub-headings, which we also require from our authors. Insert a sub-heading about every five pages, depending on the other navigational cues that your readers will use as they scroll through your texts. Sub-headings should be textual rather than numerical (unless you are Graham Holderness; see B&L 1.2).</p>
        <p><b>3. Short paragraphs:</b> We encourage authors to break up long paragraphs for ease of on-screen reading. Escshew the single-sentence journalistic paragraph, however. The old rule-of-thumb, "3-5 sentences," seems to work well on screen. Writers may, of course, use longer paragraphs with images, sound clips, or other multimedia to break up a block of text if that seems more appropriate.</p>
        <p><b>4. Strip out special characters.</b> For mark-up and online publication, we require plain text: please strip out "curly" quotation marks and apostrophes, em-dashes, "live" hyperlinks, ordinals, and other special characters, apart from necessary diacriticals (see below).</p>
        <p><b>5. Diacriticals.</b> We can publish diacriticals online, but it takes some special coding, and occasionally hand-drawing, for them to appear on-screen and in the .pdf printouts. If your necessary diacriticals have Unicodes, please send them to us at the time of acceptance -- this will help.</p>
        <p><b>6. Minimize discursive notes.</b> Please try to integrate your argument into the main body of your paper rather than keeping substantive matter in the notes. Not only is this good style, it makes it easier for an on-screen reader to scroll through your essay with fewer distractions.</p>


        <h5 class='about'>Style Sheet for Accepted Contributors:</h5>
            <p>Accepted Contributors must send us the following:</p>
            <p><b>1. Author's Bio:</b> 50-100 words, including name, affiliation, select publications, and current research interests.</p>
            <p><b>2. Abstract:</b> paragraph (ca. 150-200 words) summarizing the essay's argument.</p>
            <p><b>3. Article</b> of 5000-9000 words, in B&L house style</p>
            <p><b>4. List of Works Cited,</b> in B&L house style</p>
            <p><b>5. Signed Publication Agreement</b> (will be sent to you immediately before we go "live").</p>

        <h5 class='about'>Documentation:</h5>

        <p><b>1. Style:</b>  B&L uses The Chicago Manual of Style, 14th or 15th edition, with a preference for parenthetical citations using the author-date -page number system. We can accept manuscripts in Word or RTF formats. We prefer email attachments, but also accept manuscripts on diskette or CD.</p>
        <p><b>2. Citations:</b> We prefer, where possible, parenthetical citations using the author-date-page number system, e.g., Fineman, taking a world-historical point of view, hypothesizes that "Shakespeare marks the beginning of the modernist self and Freud . . . its end, the two of them together thus bracketing an epoch of subjectivity" (Fineman 1986, 47); but Sinfield largely avoids the issue, asserting a "sufficient continuity" between these understandings (Sinfield 1992, 60), while insisting that what has been the problem all along is, not selfhood, but essentialist humanism, the way in which we interpret selfhood.</p>

        <p>Please reserve endnotes for substantive explanatory comments. We prefer endnotes created through a word processor's endnote function, but can also work with endnotes collected in a separate document. For two authors with the same surname, include first initial in parenthetical citations. For two or more works by a single author, include author, date and page number: e.g., (Sinfield 1985, 72). For two or more works by a single author published in the same year, allot a letter to each work published in the same year, in alphabetical order: e.g., (Nisenson 2000a, 202).</p>

        <p><b>3. Quotations:</b> For poetry of three or more lines and prose quotations of four or more lines, use indented block quotations. Shorter quotations may be included in the body of the essay as inline quotations.</p>
        <p><b>3a. Avoid beginning a new paragraph after a block (indented) quotation.</b>
        <p><b>4. Languages:</b> While some foreign words or phrases may be utilized in the text (and may be italicized), the article otherwise should be entirely in English. If your text includes quotations in a language other than English, use authoritative translations (or your own), followed by English translation in parentheses. Identify the translators in the footnotes. The titles of books and articles in languages other than English should be followed immediately by their English translations in parentheses. Adhere strictly to the conventions of any foreign language you use; we depend on you for accuracy. Please use American rather than British spelling except in quotations.</p>

        <h5 class='about'>Format:</h5>

        <p><b>Font:</b> Use Times Roman 12 (non-proportional) font.</p>

        <p><b>Margins:</b> Set at 1-inch right, left, top, and bottom. Do not justify right margin. Do not set widow/orphan protection.</p>

        <p><b>Line Spacing:</b> Double space (2 line spaces) entire manuscript, including notes and block quotes.</p>

        <p><b>Page Numbers:</b> Number pages in upper right corner, beginning with page 2 (suppress page 1 number). Otherwise, use no running head.</p>

        <p><b>Paragraphs:</b> Use Tab key to indent paragraphs. Use automatic (soft) return within each paragraph (use hard return only for paragraph end). Use 1 hard return at the end of each paragraph. Use 2 hard returns only between sections (if any).</p>

        <p><b>Character Spacing:</b> Use 1 space after periods, colons, commas and semicolons. To create a dash, type 2 hyphens with one space before the preceding word and one space after the following word. To type an ellipsis, type a space between each of the 3 periods and between the preceding and following words. In the case of an ellipsis following a period, do not put a space between the period and the preceding word. Do not worry about an ellipsis breaking at the end of a line.</p>

        <p><b>Hyphenation:</b> Do not use automatic hyphenation. Do not hyphenate end-of-line words unless they are normally hyphenated.</p>

        <h5 class='about'>Delivery</h5>
        <p>Send manuscripts in Word (doc or docx) or RTF formats as email attachments to lenders@uga.edu. Share multimedia items via dropbox or other filesharing tool.</p>


        <h5 class='about'>Support</h5>

        <p><i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation</i> is supported by the University of Georgia English Department, the Willson Center for Humanities and Arts, University of Georgia, the Franklin College of Arts and Sciences, the President's Venture Fund of the University of Georgia, and the Emma Project.</p>
        <img style="width:400px;margin-left: -10px;" src="{{ asset('bundles/borrowershome/img/willson.png') }}">


        <h5 class='about'>Permissions and Disclaimers</h5>

        <p>The opinions expressed on this site do not necessarily reflect the views of the editors, the English Department, or the University System of Georgia.</p>
        <p><i>Borrowers and Lenders</i> holds copyright on essays it publishes, but authors may share their essays freely, and readers may cite essays freely with appropriate attribution. (Please acknowledge <i>Borrowers and Lenders</i> in citations, weblinks, and other transformative uses.)</p>
        <p>Multimedia may not be downloaded or copied from this site without permission from the copyright holder or holders. In many cases, <i>Borrowers and Lenders</i> does not hold the copyright on multimedia.</p>
        <p>Authors are responsible for securing any necessary permissions for illustrations to their essays. Contact the General Editors if you are having difficulty doing this.</p>
        <p>The editors have made every effort to obtain permission from copyright holders, but in some cases have been unable to contact the holders.</p>
        <p>If you have any further information about copyrights and permissions of material on this site, please contact the editors.</p>


    </div>

    <div style="width:400px;padding:10px; float:left">

        <p style="text-align: right">ISSN 1554-6985</p>

        <h3 class='about'>About the Journal</h3>

        <p class="well" style="text-align: left; font-weight: bold">The editors of Borrowers and Lenders: The Journal of Shakespeare and Appropriation are greatly grieved by the recent untimely passing of our co-founding and co-general editor, Christy Desmet. A tribute to her life and work appears here: https://willson.uga.edu/remembering-christy-desmet/ and the University of Georgia will hold a secular memorial service in her honor at the UGA Chapel on Friday, September 28th, at 4pm, with a reception to follow on the front patio of Park Hall: https://www.english.uga.edu/events/content/2018/memorial-service-christy-desmet.
        <br/>

        The journal will continue with Sujata Iyengar, Matt Kozusko, and Louise Geddes serving as co-general editors, with Geoff Way taking over as "Digital Appropriations" editor in January, and with the able assistance of UGA PhD candidates Sarah Mayo as Managing Editor and Anna Forrester as Book Review Editor.
            <br/>

        Authors, Editors, Colleagues, and Readers who wish to make a donation in honor of Christy Desmet may donate online to the English Department [RON: plz put a button in here to the B&L Agency account, if available, or to the English Department General Account].
            <br/>

        Please indicate in the “Special Instructions/Comments” box that you would like to support Borrowers and Lenders: The Journal of Shakespeare and Appropriation. We use any funds we receive to support graduate student assistants and operating expenses.
        </p>

        <p style="text-align: left"><i>Borrowers and Lenders</i>,
            winner of the CELJ Best New Journal Award in 2007, is a peer-reviewed, online, multimedia Shakespeare
            journal (http://www.borrowers.uga.edu). The journal is indexed in the <i>MLA Bibliography</i>, <i>World
                Shakespeare Bibliography</i>, and other databases. </p>
        <p>Upcoming issues include 11.1, an issue containing a special cluster of essays guest-edited by Alexa Alice Joubin
            on Shakespeare in Global World Marketplaces, 11.2, a general issue including essays by Jonathan Burton, Balz Engler,
            Christian Smith, and Sarah Hatchuel and Nathalie Vienne-Guerrin; and12.1. a special issue on Shakespeare Across Time
            and Space, guest-edited by Lisa Hopkins.</p>

        <p>Check our <a href="https://www.facebook.com/Borrowers-and-Lenders-The-Journal-of-Shakespeare-and-Appropriation-28035813264/?ref=br_rs" target="_blank">Facebook page</a> for updates and release announcements!</p>

        <h4 class='about'>Editorial Staff</h4>

        <p style="text-align: center">
            Founding Editors: Christy Desmet and Sujata Iyengar, University of Georgia<br/>
            General Editors: Sujata Iyengar, University of Georgia; Matthew Kozusko, Ursinus College; Louise Geddes, Adelphi University<br/>
            Associate Editor: Robert Sawyer, East Tennessee State University<br/>
            Associate Editor, Appropriations in Performance: Matthew Kozusko, Ursinus College<br/>
            Associate Editor, Digital Appropriations: Geoff Way, Washburn University<br/>
            Managing Editor: Sarah Mayo, University of Georgia<br/>
            Book Review Editor: Anna Forrester, University of Georgia<br/>
            Software Code Writer: Ron Balthazor, University of Georgia<br/>
            Website Design: William Reeves, University of Georgia<br/>
            Editorial Assistant: Darlena Ciraulo, University of Central Missouri


        </p>

        <h4 class='about'>Editorial Board</h4>

        <p style="text-align: center">
            Michael Best, University of Victoria, Victoria<br/>
            Mark Thornton Burnett, Queen’s University, Belfast<br/>
            Richard Burt, University of Florida<br/>
            Thomas Cartelli, Muhlenberg College<br/>
            Juliet Dusinberre, Girton College, Cambridge<br/>
            Daniel Fischlin, University of Guelph, Ontario<br/>
            Sarah Hatchuel, University of Le Havre<br/>
            Russell Jackson, University of Birmingham<br/>
            Alexa Alice Joubin, George Washington University<br/>
            Jeffrey Kahan, University of La Verne<br/>
            Ruru Li, University of Leeds<br/>
            Arthur Little, University of California, Los Angeles<br/>
            Ania Loomba, University of Pennsylvania<br/>
            Sharon O'Dair, University of Alabama<br/>
            Laurie Osborne, Colby College<br>
            Patricia Parker, Stanford University<br/>
            David Riggs, Stanford University<br/>
            Katherine Rowe, Smith College<br/>
            Anne Russell, Wilfrid Laurier University<br/>
            Jyotsna Singh, Michigan State University<br/>
            Bruce Smith, University of Southern California<br/>
            Lisa S. Starks, University of South Florida St. Petersburg<br/>
            Stanley Wells, Shakespeare Institute, University of Birmingham
        </p>

        {#
        <h3 class='about'>Calls for Papers</h3>

        <p>The editors of <i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation</i> welcome original scholarship engaging with the afterlives of Shakespearean texts and their literary, filmic, multimedia, and critical histories. We encourage contributors to use the online format to its best advantage, in particular, by imagining how to enhance or illustrate their essays with multimedia (screen captures, sound clips, images, and so on).</p>

        <p>Currently we solicit essays, book reviews, accounts of Appropriation in Performance, essay-clusters, and new discoveries for upcoming general and special issues. General issues appear in the Fall/Winter, and Special issues in the Spring/Summer, although the production schedule can vary. We welcome suggestions for themes for special issues.</p>

        <p>General inquiries should be addressed to the General Editors, Christy Desmet (cdesmet@uga.edu) and Sujata Iyengar (iyengar@uga.edu), by email or to Associate Editor Robert Sawyer (resawyer1@charter.net). Book reviewers may contact our book review editor, Joshua King (kingja@uga.edu), directly. Reviewers of Appropriations in Performance may contact our performance review editor, Matthew Kozusko (mkozusko@ursinus.edu), directly  for guidelines.</p>

          #}



        <p><i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation</i>  is a peer-reviewed, online, multimedia journal that welcomes original scholarship engaging with the afterlives of Shakespearean texts and their literary, filmic, multimedia, and critical histories. It encourages contributors to use the online format to its best advantage, in particular, by imagining how to enhance or illustrate their essays with multimedia (screen captures, sound clips, images, and so on). B&L won the CELJ's "Best New Journal" Award in 2007. B&L is fully indexed in the MLA Bibliography. B&L is currently co-edited by Dr. Sujata Iyengar (iyengar at uga dot edu), Dr. Matt Kozusko (mkozusko at ursinus dot edu), and Dr. Louise Geddes (lgeddes at adelphi dot edu) correspondence should be addressed to lenders at uga dot edu or to Managing Editor Ms. Sarah Mayo at semayo at uga dot edu.</p>

        <p>Supporters of <i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation</i>  and of Shakespeareat UGA may donate online via
            the English Department’s <a class="btn btn-danger about" href="https://gail.uga.edu/give?id=9497b621-050d-4837-abe8-24fa3a3c0b41" target="_blank">Jane McMullan Fund</a></p>

        <p>Please indicate in the “Special Instructions/Comments” box that you would like to support
            <i>Borrowers and Lenders: The Journal of Shakespeare and Appropriation.</i> We use any funds we receive to support graduate student assistants.</p>


    </div>
{% endblock %}