<!-- nav bar table-->
<table cellpadding='0' cellspacing='0'>
<tr>
<td class='nav01' width='150px' height='58px'>
<a href="{{ path('issue_current') }}" ><img name="a" src="/borrowers/web/bundles/borrowershome/img/current_issue_off.jpg" border="0" width='150px' height="58px"/></a>
</td>
</tr>
<tr>
<td class='nav02' width='150px' height='54px'>

<a href="{{ path('issue_previous') }}" ><img name="b" src="/borrowers/web/bundles/borrowershome/img/previous_issue_off.jpg" border="0" width='150px' height="54px"/></a>

<a href="{{ path('issue_about') }}" ><img name="e" src="/borrowers/web/bundles/borrowershome/img/b5-off-book-d2.jpg" border="0" width='150px' height="36px"/></a> 
</td>
</tr>
<tr>
<td class='nav03' width='150px' height='36px'>

<a href="{{ path('issue_archive') }}" ><img name="c" src="/borrowers/web/bundles/borrowershome/img/archive-off.jpg" border="0" width='150px' height="36px"/></a>

</td>
</tr>

</table>