
{% extends 'BorrowersIssueBundle::layout.html.twig' %}

{% block content %}
<div class="col-sm-10 well">
<form action="{{ path('file_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-default" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
