<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Borrowers and Lenders:  The Journal of Shakespeare and Appropriation{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://ojs01.galib.uga.edu/public/journals/4/styleSheet.css">
    {% endblock %}
    <style>
        body {font-family: 'Roboto Slab', serif;}
        p{margin-bottom: 2rem}
        h1.essaytitle {text-align: center; font-weight: bold; margin-top: 5rem}
        p.abstract {text-align: justify; }
        p.epigraph {text-align: justify; }
        p.title {text-align: center; font-weight: bold; font-variant: small-caps;}
        p.nav a {color:black; padding:2rem;}
    </style>
</head>
<body>

<div class="container-fluid">

    <section class="main-content">

            <div class="row justify-content-md-center">
                <div class="col col-sm-8">
                    <img src="https://ojs01.galib.uga.edu/public/journals/4/pageHeaderLogoImage_en_US.jpg" class="img-fluid" alt="Responsive image">

        {% block body %}
            {{ html|raw }}
        {% endblock %}
                </div>
            </div>

        {% block javascripts %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


            <script language="javascript">
                $( document ).ready(function() {
                    $('.wc').popover()
                });

            </script>
        {% endblock %}


    </section>

</div>

</body>
</html>