/borrowers_docs
/web/js
/web/css
/web/assetic
/web/bundles
/web/borrowers
/app/bootstrap.php.cache
/app/cache
/app/logs
/app/config/security.yml
/vendor
/components
/app/config/parameters.yml
/composer.phar
/node_modules
.idea
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
