/composer.lock
/borrowers_docs
/web/js
/web/css
/web/assetic
/web/bundles
/web/borrowers
/app/bootstrap.php.cache
/app/cache
/app/logs
/app/config/security.yml
/vendor
/components
/app/config/parameters.yml
/nbproject
/composer.phar
node_modules
.idea
