parameters:
    database_driver: pdo_pgsql
    database_host: localhost
    database_port: '5432'
    database_name: xxxx
    database_user: xxxx
    database_password: xxxx
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: b752dfb1057668f79887c9607251b2cb8
