
body {font-family: Garamond, Times New Roman, Serif; color: #333333; margin: 0px; font-size:12pt; line-height: 1.3; background-color: #FFFFFF; display: block; text-align:justify }

h1 {display: block; text-align: center; margin-bottom: 2em; font-family: Garamond, Times New Roman, Serif; font-size:12pt;}

h3 {display: block; text-align: center; margin-bottom: 2em}

table {
    border-spacing: 0;
}

span.header {font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: #0000CC; font-weight:bold}

span.blockquote {display: block; margin: 0px 30px 0px 30px; line-height: 1.3; background-color: transparent; text-align: justify;}

p.essaytitle {line-height: 2; background-color: transparent; text-align: center; font-family: Garamond, Times New Roman, Serif ; font-size: 18pt; font-weight: bold }

p.abstract {display: block; margin: 0px 30px 0px 30px; line-height: 1.3; background-color: transparent; text-align: justify; font-family: Garamond, Times New Roman, Serif; font-size:11pt; }

p.epigraph {display: block; margin: 0px 30px 0px 30px; line-height: 1.3; background-color: transparent; text-align: justify; font-family: Garamond, Times New Roman, Serif; font-size:11pt; }

p.title {line-height: 1.3; background-color: transparent; text-align: center; font-family: Garamond, Times New Roman, Serif; font-size:14pt; font-weight: bold; font-variant: small-caps;}


p.nav {line-height: 1.3; background-color: transparent; text-align: center; font-family: Garamond, Times New Roman, Serif; font-size:12pt; font-variant: small-caps;}


.body {display: block; line-height: 1.3; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:12pt; text-align:justify;margin-bottom:1em;}

.bodycell {
    background-color: #CCCC99;
    font-size: 10pt;
    vertical-align: top;
    padding: 10px;
}


pre {line-height: 1.3;font-family: Garamond, Times New Roman, Serif; font-size:12pt; margin: 0px 00px 20px 30px;}

p.footer {display: block; line-height: 1.3; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:12pt; text-align:center;}


p.header {line-height: 1.3; background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt;}

p.notetext {display: block; margin: 0px 05px 0px 0px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify}


emphasis {font-style: italic}

.italics {font-style: italic; font-family: Garamond, Times New Roman, Serif;}
.underline {text-decoration: underline}

em {font-style: italic}

p.wc {margin-left:15px; text-indent:-15px; line-height: 1.3; }

span.heading {font-weight: bold; color: black; font-family: Garamond, Times New Roman, Serif; font-size:12pt;}

table.quote {display: block; margin: 10px 0px 10px 30px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify}

div.quote {display: block; margin: 10px 0px 10px 30px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify}

table.verse {display: block; margin: 10px 0px 10px 60px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify}

table.note {display: block; margin: 0px 0px 0px 0px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:11pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify}


table.poem {margin: 0px 0px 0px 30px;  background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black}

p.line {display: block; margin: 0px 0px 0px 0px; background-color: transparent; font-family: Garamond, Times New Roman, Serif; font-size:12pt; color: black; line-height: 1.3; text-decoration:none; text-align:justify }


h4 {display: block; text-align: left; margin-bottom: 2em; text-transform: uppercase }

a:link { color: #333333;line-height: 1.3; text-decoration:none; }
a:visited { color: #333333; line-height: 1.3; text-decoration:none; }
a:hover { color: blue; line-height: 1.3; text-decoration:none; }

p.toc1 {display: block; line-height: 1.0; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:20pt; text-align:center; font-weight:bold; letter-spacing:0.3em}

p.toc2 {display: block; line-height: 1.0; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:12pt; text-align:center; letter-spacing:0.3em}

p.toc3 {display: block; line-height: 1.0; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:12pt; text-align:center; font-variant: small-caps; letter-spacing:0.3em}

p.toc4 {display: block; line-height: 1.0; margin-right: 20px; font-family: Garamond, Times New Roman, Serif; font-size:16pt; text-align:center; font-weight:bold; letter-spacing:0.3em}

.submitLink {
	font-family: Garamond, Times New Roman, Serif; 
	color: #333333;
	font-size:12pt;
	color: black;
	background-color: transparent;
	border: none;
	cursor: pointer;
	cursor: hand;
}

h3.about {font-family: Arial; color: #999966; display: block; text-align: left; font-size:14pt; font-weight: bold}

h4.about {font-family: Arial; color: #999966; display: block; text-align: center; font-size:14pt;}

h5.about {font-family: Arial; color: #FFFFFF; display: block; text-align: left; font-size:12pt;}

td.author {width: 150px;}

.playButton {
  background-color: rgb(20,20,20);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25em;
  opacity: .8;
  filter: alpha(opacity=80);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  position: relative;
  top: 50%;
  zoom: 100%;
  padding: .5em 1em;
  color: white;
}

.playBackground {
  background-color: rgb(0,0,0);
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0px; left: 0px;
}


.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    padding: 5px;
}

.popover.top {
    margin-top: -5px;
}

.popover.right {
    margin-left: 5px;
}

.popover.bottom {
    margin-top: 5px;
}

.popover.left {
    margin-left: -5px;
}

.popover.top .arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.popover.right .arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-right: 5px solid #000000;
    border-bottom: 5px solid transparent;
}

.popover.bottom .arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
}

.popover.left .arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
}

.popover .arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.popover-inner {
    width: 280px;
    padding: 3px;
    overflow: hidden;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
    padding: 9px 15px;
    line-height: 1;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.popover-content {
    padding: 14px;
    background-color: #ffffff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
    margin-bottom: 0;
}