/* 
    Document   : local
    Created on : Jul 26, 2012, 9:16:30 AM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
}

.page-header {
    margin-top: 40px;
    font-family: 'Josefin Sans', 'Arial', 'sans-serif';
}

.navbar-brand, h1, h2, h3 {
    font-family: 'Josefin Sans', 'Arial', 'sans-serif';
}

.formtext {
    width:400px;
}

.margintop {margin-top: 10px;}



